---
---

@import "{{ site.theme }}";

.post-list {
    color: black;
}

.post-list ul a {
    color: black;
}

.post-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-list .date {
    color: darkgray;
}
